body {
	font: 14px/1.2 Helvetica;
}

ul {
	margin: 20px;
	padding: 0;
}
	ul li {
		margin: 0 0 10px 0;
		padding: 0;
		overflow: hidden;
		-webkit-transition: height 0.4s ease;
	}
		ul li p {
			margin: 0 0 10px 0;
		}